<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-page">
  <div class="auth-container">
    <h1>Регистрация</h1>
    <form method="POST" class="auth-form">
      <label>Логин:</label>
      <input type="text" name="username" required>

      <label>Пароль:</label>
      <input type="password" name="password" required>

      <button type="submit" class="btn">Зарегистрироваться</button>
    </form>

    <p class="auth-link">
      Уже есть аккаунт?
      <a href="{{ url_for('login') }}">Войти</a>
    </p>
  </div>
</body>
</html>
